body{
    background-color: #370617;
    
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.pizza{
    padding: 1em;
    margin: 1.5em;
    border: 0.2em solid;
    border-radius: 1.7em;

}
h2{
    text-align: center;
}
h3{
    background-color: #F48C06;
    margin: 2em;
    padding: 1em;
}
h5{
    background-color: whitesmoke;
    max-height: 1em;
    padding: 0.3rem;
}

.medium_pizza{
    background-color: #F48C06;
    

}

.large_pizza{
    background-color: #D00000;
    
}

.small_pizza{
    background-color: #FFBA08;
  

}

.contact{
background-color: #9D0208;

}

#image_s{
    width: 38%;
    height: auto;
}

#image_m{
    width: 50%;
    height: auto;
}

#image_l{
    width: 64%;
    height: auto;
}

img{
    margin: 1em;
}


.pizza_meta{
    display: flex;
    flex-direction: row;
    }
    
.contact-info{
    padding: 1em;
    margin: 2em;
    
    text-align: center;
    
}
a{
    text-decoration: none;
    color: #FFBA08;
}
p{
    color: #D00000 ;
}
.desc{
    padding: 0.5em;
    margin: 0.5em;
}
.contact{
    
    display: block;
    margin: 2em;
   
} 
.desc_meta
{
    display: block;
   
}

    
@media only screen and (min-width: 768px) {
    /* For mobile phones: */
    .pizza_container{
        display: flex;
    }
    .desc_meta
{
    display: block;
   
}
    .pizza{
        display: block;
    }
    .contact{
        display: flex;
        margin: 1em;
       
    }   
  
.pizza_meta{
    display: block;
    flex-direction: row;
    }
   
  }
  @media only screen and (min-device-width: 480px) and (max-device-width: 640px) {
    .pizza_container{
        display: flex;
    }
    .pizza{
        display: block;
    }
    .contact{
        display: flex;
        margin: 1em;
       
    }   
  
.pizza_meta{
    display: block;
    flex-direction: row;
    }
 }